@page "/"
@inject IJSRuntime JSRuntime
@inject System.Net.Http.HttpClient Http

<MudCard Square="true"
		 Style="min-height: 100svh;">
	<MudCardHeader Class="d-block d-sm-flex align-center justify-space-between mb-0 pb-0">
		<MudText Color="Color.Primary">
			<h1>DataGrid Exporter</h1>
		</MudText>
		<MudButton Class="me-5 me-sm-0 mb-2 mb-sm-0"
				   Color="Color.Primary"
				   EndIcon="@Icons.Custom.Brands.GitHub"
				   Href="https://github.com/g-s-c-code/DataGridExporter"
				   IconSize="Size.Small"
				   Target="_blank"
				   Ripple="true"
				   Size="Size.Small"
				   Style="font-weight: bold;"
				   Variant="Variant.Text">
			View on GitHub
		</MudButton>
		<MudMenu StartIcon="@Icons.Material.Outlined.FileDownload"
				 EndIcon="@Icons.Material.Filled.KeyboardArrowDown"
				 Label="Export Demo Data"
				 Color="Color.Primary"
				 Variant="Variant.Filled">
			<MudMenuItem Icon="@Icons.Material.Rounded.TableChart"
						 IconColor="Color.Primary"
						 IconSize="Size.Small"
						 OnClick="ExportToExcel">
				Export to Excel (.xlsx)
			</MudMenuItem>
			<MudMenuItem Icon="@Icons.Material.TwoTone.TableChart"
						 IconColor="Color.Primary"
						 IconSize="Size.Small"
						 OnClick="ExportToCsv">
				Export to CSV (.csv)
			</MudMenuItem>
			<MudMenuItem Icon="@Icons.Material.Rounded.ListAlt"
						 IconColor="Color.Primary"
						 IconSize="Size.Small"
						 OnClick="ExportToJson">
				Export to JSON (.json)
			</MudMenuItem>
		</MudMenu>
	</MudCardHeader>
	<MudCardContent>
		<MudDataGrid @ref="_grid"
					 Bordered=true
					 Class="border-solid border-2 mud-border-primary pa-4"
					 Dense="true"
					 Elevation="4"
					 FixedHeader="true"
					 Height="236px"
					 Items="@_items"
					 T="Row">
			<Columns>
				<PropertyColumn Property="x => x.column_1" Title="Demo Data" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="Demo Data" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="Demo Data" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="Demo Data" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="Demo Data" HeaderStyle="font-weight: bold;" />
			</Columns>
		</MudDataGrid>
	</MudCardContent>
	<MudCardActions Class="d-block">
		<MudPaper Class="d-flex justify-end flex-grow-1 ma-2"
				  Elevation="0">
			<MudButton Color="Color.Primary"
					   EndIcon="@Icons.Material.Outlined.ContentCopy"
					   IconSize="Size.Small"
					   OnClick="CopyCode"
					   Ripple="true"
					   Style="white-space: nowrap; font-weight: bold;"
					   Variant="Variant.Text">
				Copy Code
			</MudButton>
		</MudPaper>
		<MudPaper Class="border-solid border-2 mud-border-primary ma-2 pa-4" Elevation="4" id="code">
			<pre>@codeContent</pre>
		</MudPaper>
	</MudCardActions>
</MudCard>

@code {
	public record Row(int column_1, int column_2, int column_3, int column_4, int column_5);

	private string codeContent = string.Empty;
	private MudDataGrid<Row> _grid = default!;
	private List<Row> _items = new List<Row>();
	private async Task ExportToExcel() => await _grid.ExportToExcel(JSRuntime, "export.xlsx");
	private async Task ExportToCsv() => await _grid.ExportToCsv(JSRuntime, "export.csv");
	private async Task ExportToJson() => await _grid.ExportToJson(JSRuntime, "export.json");
	private async Task CopyCode() => await JSRuntime.InvokeVoidAsync("copyCode");

	protected override async Task OnInitializedAsync()
	{
		codeContent = await Http.GetStringAsync("DataGridExporterCode.txt");

		for (var i = 0; i < 100; i++)
		{
			_items.Add(new Row(i, i, i, i, i));
		}
	}
}